<div class="portfolio-container">
    <!-- Sidebar -->
    <nav class="sidebar">
        <div class="logo">
            <h1>A</h1>
            <p>Álvaro Valero</p>
            <span>Web Developer</span>
        </div>

        <ul class="menu">
            <li><a href="#hero">Inicio</a></li>
            <li><a href="#tecnologias">Tecnologías</a></li>
            <li><a href="#experiencia">Experiencia</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>

        <div class="social">
            <a href="https://www.linkedin.com/in/álvaro-valero-garcía-99a546313/">LinkedIn</a>
            <a href="https://github.com/avaleroog">GitHub</a>
        </div>
    </nav>

    <!-- Secciones -->
    <main class="content">
        <section id="hero">
            <h1>Hola</h1>
            <h1>Soy <span id="nombre">Álvaro Valero</span>,</h1>
            <h1>Desarrollador web</h1>
            <h3>Full Stack Developer</h3>

            <div id="hero-links">
                <a href="https://github.com/avaleroog"><img src="icons/git.png" alt="git"></a>
                <a href="https://www.linkedin.com/in/álvaro-valero-garcía-99a546313/"><img src="icons/linkedin2.webp"
                        alt="linkedin"></a>

            </div>



            <div class="scroll-indicator">
                <a href="#tecnologias" class="scroll-arrow">
                    <span>Scroll para más</span>
                    <div class="arrow-down">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 16L6 10H18L12 16Z" fill="currentColor" />
                        </svg>
                    </div>
                </a>
            </div>
        </section>

        <hr>

        <section id="tecnologias">
            <h2>Tecnologías</h2>

            <div class="tec-category">
                <h3>Backend</h3>
                <div class="tec-scroll">
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/java.png" alt="Java">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Java</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/python.webp" alt="Python">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Python</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/spring.png" alt="Spring">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Spring Boot</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/django.png" alt="Django">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Django</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/fastapi.png" alt="fastapi">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">FastAPI</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                </div>
            </div>

            <div class="tec-category">
                <h3>Frontend</h3>
                <div class="tec-scroll">
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/angular.png" alt="Angular">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Angular</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/vue.png" alt="Vue">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Vue.js</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/ts.png" alt="TypeScript">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">TypeScript</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/js.png" alt="JavaScript">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">JavaScript</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/html.png" alt="html">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">HTML</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/css.png" alt="SCSS">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">CSS</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                </div>
            </div>

            <div class="tec-category">
                <h3>Herramientas & Otros</h3>
                <div class="tec-scroll">

                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/aws.png" alt="AWS">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">AWS</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/mysql.webp" alt="MySQL">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">MySQL</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/Oracle.png" alt="Oracle">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Oracle</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/git.png" alt="Git">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Git</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                    <div class="tec-item">
                        <div class="tec-icon">
                            <img src="icons/docker.svg" alt="Docker">
                        </div>
                        <div class="tec-info">
                            <span class="tec-name">Docker</span>
                        </div>
                        <div class="tec-glow"></div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="experiencia">
            <h2 class="section-title">Experiencia Profesional</h2>

            <div class="experiencia-container">
                <div class="timeline">
                    <div class="experiencia-item">
                        <div class="timeline-marker">
                            <div class="marker-icon">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>

                        <div class="experiencia-content">
                            <div class="experiencia-header">
                                <h3>Desarrollador Full Stack</h3>
                                <div class="empresa-info">
                                    <span class="empresa">Soltel Group</span>
                                    <span class="periodo">2025</span>
                                </div>
                            </div>

                            <div class="experiencia-description">
                                <p>
                                    Realicé mis prácticas de fin de grado en Soltel Group, donde trabajé en el
                                    desarrollo del ecosistema judicial Elex.
                                    Allí ejercí funciones tanto de frontend como de backend, contribuyendo a la mejora
                                    de la plataforma, la implementación de nuevas funcionalidades,
                                    el testeo y la optimización del rendimiento de la aplicación.
                                </p>

                                <div class="logros">
                                    <h4>Aprendizaje:</h4>
                                    <ul>
                                        <li>
                                            <span class="logro-icon">🚀</span>
                                            Desarrollé desde 0 una web con Spring Boot y Angular
                                        </li>
                                        <li>
                                            <span class="logro-icon">🏢</span>
                                            Trabajé en un gran ecosistema informático en producción
                                        </li>
                                        <li>
                                            <span class="logro-icon">📊</span>
                                            Formé parte de un gran equipo de desarrollo con profesionales de distintos
                                            sectores de la informática
                                        </li>
                                        <li>
                                            <span class="logro-icon">🔧</span>
                                            Aprendí a trabajar en un entorno de desarrollo de software, desde el control
                                            de versiones hasta el despliegue en producción
                                        </li>
                                    </ul>
                                </div>

                                <div class="tecnologias-usadas">
                                    <h4>Tecnologías utilizadas:</h4>
                                    <div class="tech-badges">
                                        <span class="tech-badge">Java</span>
                                        <span class="tech-badge">Maven</span>
                                        <span class="tech-badge">Spring Boot</span>
                                        <span class="tech-badge">TypeScript</span>
                                        <span class="tech-badge">Angular</span>
                                        <span class="tech-badge">Oracle</span>
                                        <span class="tech-badge">MySQL</span>
                                        <span class="tech-badge">Git</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="experiencia-item">
                        <div class="timeline-marker">
                            <div class="marker-icon">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>

                        <div class="experiencia-content">
                            <div class="experiencia-header">
                                <h3>Otros empleos fuera de la informática</h3>
                                <div class="empresa-info">
                                    <span class="empresa">Comunicación Audiovisual y hostelería</span>
                                    <span class="periodo">2019 - 2025</span>
                                </div>
                            </div>

                            <div class="experiencia-description">
                                <p>
                                    Antes de centrarme en la informática, me formé en el sector de la comunicación y
                                    trabajé tanto en televisión como en hostelería.
                                    Estas experiencias me ayudaron a desarrollar ciertas habilidades que he podido
                                    explotar en la informática, como mejorar la comunicación,
                                    el trabajo en equipo y la atención al cliente, además de aprender a desenvolverme en
                                    situaciones de mucha presión.
                                </p>

                                <div class="logros">
                                    <h4>Experiencia adquirida:</h4>
                                    <ul>
                                        <li>
                                            <span class="logro-icon">🤝</span>
                                            Trabajo en equipo
                                        </li>
                                        <li>
                                            <span class="logro-icon">🧩</span>
                                            Iniciativa y resolución de problemas
                                        </li>
                                        <li>
                                            <span class="logro-icon">⏰</span>
                                            Trabajo bajo presión
                                        </li>
                                        <li>
                                            <span class="logro-icon">💼</span>
                                            Experiencia en entorno laboral
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <section id="proyectos">
            <h2 class="section-title">Mis Proyectos</h2>

            <div class="proyectos-container">
                <div class="proyecto">
                    <div class="proyecto-header">
                        <h3>Red Social de videojuegos</h3>
                        <div class="proyecto-tags">
                            <span class="tag">Angular</span>
                            <span class="tag">Spring Boot</span>
                            <span class="tag">MySQL</span>
                            <span class="tag">TypeScript</span>
                            <span class="tag">AWS</span>
                            <span class="tag">Docker</span>
                        </div>
                    </div>

                    <div class="proyecto-media">
                        <div class="image-carousel">
                            <button class="carousel-btn prev-btn" onclick="changeImage(0, -1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-images">
                                <img src="images/pixelground1.png" alt="PixelGround - Vista 1"
                                    class="proyecto-image active">
                                <img src="images/pixelground2.png" alt="PixelGround - Vista 2"
                                    class="proyecto-image active">
                                <img src="images/pixelground3.png" alt="PixelGround - Vista 3"
                                    class="proyecto-image active">
                            </div>

                            <button class="carousel-btn next-btn" onclick="changeImage(0, 1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-indicators">
                                <span class="indicator active" onclick="setActiveImage(0, 0)"></span>
                                <span class="indicator" onclick="setActiveImage(0, 1)"></span>
                                <span class="indicator" onclick="setActiveImage(0, 2)"></span>
                            </div>
                        </div>

                    </div>

                    <div class="proyecto-content">
                        <p class="proyecto-description">
                            Red social con temática de videojuegos donde se puede compartir progreso de Steam con tus
                            amigos,
                            reseñar o valorar juegos y discutir en el foro con otros usuarios. Desarrollada con Angular
                            en el
                            frontend
                            y Spring Boot en el backend. Despliege en AWS con Docker y MySQL como base de datos.
                        </p>
                        <div class="proyecto-links">
                            <a href="https://github.com/avaleroog/PixelGround-Back_SpringBoot"
                                class="btn-proyecto btn-secondary">
                                <span class="icon">📁</span>
                                Backend
                            </a>
                            <a href="https://github.com/avaleroog/PixelGround-Front_Angular"
                                class="btn-proyecto btn-secondary">
                                <span class="icon">📁</span>
                                Frontend
                            </a>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyecto-header">
                        <h3>App para gestionar cines</h3>
                        <div class="proyecto-tags">
                            <span class="tag">Pyhton</span>
                            <span class="tag">Django</span>
                            <span class="tag">MySQL</span>
                            <span class="tag">JWT</span>
                        </div>
                    </div>

                    <div class="proyecto-media">
                        <div class="image-carousel">
                            <button class="carousel-btn prev-btn" onclick="changeImage(1, -1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-images">
                                <img src="images/django1.png" alt="App para gestionar cines - Vista 1"
                                    class="proyecto-image active">
                                <img src="images/django2.png" alt="App para gestionar cines - Vista 2"
                                    class="proyecto-image">
                                <img src="images/django3.png" alt="App para gestionar cines - Vista 3"
                                    class="proyecto-image">
                            </div>

                            <button class="carousel-btn next-btn" onclick="changeImage(1, 1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-indicators">
                                <span class="indicator active" onclick="setActiveImage(1, 0)"></span>
                                <span class="indicator" onclick="setActiveImage(1, 1)"></span>
                                <span class="indicator" onclick="setActiveImage(1, 2)"></span>
                            </div>
                        </div>

                    </div>

                    <div class="proyecto-content">
                        <p class="proyecto-description">
                            API Rest para gestionar una cadena de cines, soportando diferentes tipos de usuarios
                             con sus distintas funciones;    como
                            gestionar películas, horarios o reservas entre otros.
                            Desarrollada con Django y MySQL como base de datos. Incluye autenticación JWT Y despliegue
                            en la nube.
                        </p>
                        <div class="proyecto-links">
                            <a href="https://github.com/avaleroog/ServidorGestionCine_Django"
                                class="btn-proyecto btn-secondary">
                                <span class="icon">📁</span>
                                GitHub
                            </a>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyecto-header">
                        <h3>Web especializada en comics</h3>
                        <div class="proyecto-tags">
                            <span class="tag">Angular</span>
                            <span class="tag">TypeScript</span>
                            <span class="tag">Bootstrap</span>
                            <span class="tag">HTML</span>
                            <span class="tag">CSS</span>
                        </div>
                    </div>

                    <div class="proyecto-media">
                        <div class="image-carousel">
                            <button class="carousel-btn prev-btn" onclick="changeImage(2, -1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-images">
                                <img src="images/comics1.png" alt="Web especializada en comics - Vista 1"
                                    class="proyecto-image active">
                                <img src="images/comics2.png" alt="Web especializada en comics - Vista 2"
                                    class="proyecto-image">
                                <img src="images/comics3.png" alt="Web especializada en comics - Vista 3"
                                    class="proyecto-image">
                            </div>

                            <button class="carousel-btn next-btn" onclick="changeImage(2, 1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-indicators">
                                <span class="indicator active" onclick="setActiveImage(2, 0)"></span>
                                <span class="indicator" onclick="setActiveImage(2, 1)"></span>
                                <span class="indicator" onclick="setActiveImage(2, 2)"></span>
                            </div>
                        </div>

                    </div>

                    <div class="proyecto-content">
                        <p class="proyecto-description">
                            Web especializada en comics que destaca las últimas noticias, lanzamientos y artículos del
                            sector,
                            a través de un diseño atractivo y fácil de navegar con integración de APIs externas.
                            Realizado con Angular, TypeScript y Bootstrap.
                        </p>
                        <div class="proyecto-links">
                            <a href="https://github.com/avaleroog/AppComics_Angular" class="btn-proyecto btn-secondary">
                                <span class="icon">📁</span>
                                GitHub
                            </a>
                        </div>
                    </div>
                </div>

                <div class="proyecto">
                    <div class="proyecto-header">
                        <h3>Agencia de viajes</h3>
                        <div class="proyecto-tags">
                            <span class="tag">Tailwind</span>
                            <span class="tag">Bootstrap</span>
                            <span class="tag">HTML</span>
                            <span class="tag">CSS</span>
                        </div>
                    </div>

                    <div class="proyecto-media">
                        <div class="image-carousel">
                            <button class="carousel-btn prev-btn" onclick="changeImage(3, -1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-images">
                                <img src="images/HERO.png" alt="Agencia de viajes - Vista 1"
                                    class="proyecto-image active">
                                <img src="images/ARTICULO2.png" alt="Agencia de viajes - Vista 2"
                                    class="proyecto-image">
                                <img src="images/CARRITO.png" alt="Agencia de viajes - Vista 3" class="proyecto-image">
                            </div>

                            <button class="carousel-btn next-btn" onclick="changeImage(3, 1)">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>

                            <div class="carousel-indicators">
                                <span class="indicator active" onclick="setActiveImage(3, 0)"></span>
                                <span class="indicator" onclick="setActiveImage(3, 1)"></span>
                                <span class="indicator" onclick="setActiveImage(3, 2)"></span>
                            </div>
                        </div>

                    </div>

                    <div class="proyecto-content">
                        <p class="proyecto-description">
                            Diseño para una agencia de viajes que incluye foro de usuarios, artículos de interés y un
                            carrito de compras para reservas de viajes y otros artículos relacionados. Realizado con
                            Tailwind, Bootstrap y CSS nativo.
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>

        <hr>


        <section id="contacto">
            <h2 class="section-title">Contacto</h2>

            <div class="formulario">
                <form id="contact-form">
                    <input type="text" name="name" placeholder="Nombre" required />
                    <input type="email" name="email" placeholder="Email" required />
                    <input type="text" name="title" placeholder="Asunto" required />
                    <textarea name="message" placeholder="Mensaje" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Álvaro Valero</h3>
                    <p>Desarrollador Full Stack apasionado por la lógica de programación y la resolución de problemas
                        complejos a través de soluciones creativas.</p>
                    <div class="footer-social">
                        <a href="https://www.linkedin.com/in/álvaro-valero-garcía-99a546313/" aria-label="LinkedIn">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                        <a href="https://github.com/avaleroog" aria-label="GitHub">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="footer-section">
                    <h4>Información de Contacto</h4>
                    <div class="contact-info">
                        <div class="contact-item">
                            <div class="contact-icon">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <polyline points="22,6 12,13 2,6" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="contact-details">
                                <span class="contact-label">Email</span>
                                <a href="mailto:avaleroog&#64;gmail.com">al.valerogarcia&#64;gmail.com</a>
                            </div>
                        </div>

                        <div class="contact-item">
                            <div class="contact-icon">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="contact-details">
                                <span class="contact-label">Teléfono</span>
                                <a href="tel:+34123456789">+34 603 71 86 95</a>
                            </div>
                        </div>

                        <div class="contact-item">
                            <div class="contact-icon">
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <circle cx="12" cy="10" r="3" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="contact-details">
                                <span class="contact-label">Ubicación</span>
                                <span>Sevilla, España</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-section">
                    <h4>Servicios</h4>
                    <ul class="services-list">
                        <li>Desarrollo Frontend</li>
                        <li>Desarrollo Backend</li>
                        <li>Aplicaciones Full Stack</li>
                        <li>APIs REST</li>
                        <li>Bases de Datos</li>
                        <li>Despliegue en la Nube</li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-bottom-content">
                    <p>&copy; 2025 Álvaro Valero. Todos los derechos reservados.</p>
                    <div class="footer-links">
                        <a href="#hero">Inicio</a>
                        <a href="#tecnologias">Tecnologías</a>
                        <a href="#experiencia">Experiencia</a>
                        <a href="#proyectos">Proyectos</a>
                        <a href="#contacto">Contacto</a>
                    </div>
                </div>
            </div>
        </footer>

    </main>
</div>